<!-- header -->
<%- include('../layouts/adminheader.ejs') %>

<!-- Settings Column -->
<main>
    <div class="container-fluid">
        <h1 class="mt-4">General Settings</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
            <li class="breadcrumb-item active">Settings</li>
        </ol>
        <!-- Settings form -->
        <form method="POST" onsubmit="return updateGeneralSettings(this)">
            <div class="form-group row">
                <label for="inputEmail3" class="col-sm-12 col-md-3 col-form-label">Site Title </label>
                <div class="col-sm-12 col-md-5">
                    <input type="text" name="blogTitle" class="form-control" value="<%=  setting.blogTitle %>">
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-12 col-md-3">New User Default Role</div>
                <div class="col-sm-12 col-md-5">
                    <select class="form-control" name="role">
                        <% roles.forEach(function(role) { %>
                        <option value="<%= role.slug %>" <% if(role.slug === setting.defaultRole) { %>
                            selected="selected" <% } %>>
                            <%= role.title %>
                        </option>
                        <% }) %>
                    </select>
                </div>
            </div>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-12 col-md-3 pt-0">Date Format</legend>
                    <div class="col-sm-12 col-md-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="date" id="date" value="MMMM d yyyy"
                                <%= setting.dateFormat == "MMMM d yyyy" ? 'checked' : '' %>>
                            <label class="form-check-label" for="date">
                                <%- format(Date.now(), "MMMM d yyyy") %> <span class="ml-4">f j Y</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="date" id="date" value="yyyy/MM/dd"
                                <%= setting.dateFormat == "yyyy/MM/dd" ? 'checked' : '' %>>
                            <label class="form-check-label" for="date">
                                <%- format(Date.now(), "yyyy/MM/dd") %> <span class="ml-4">Y-m-d</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="date" id="date" value="MM/dd/yyyy"
                                <%= setting.dateFormat == "MM/dd/yyyy" ? 'checked' : '' %>>
                            <label class="form-check-label" for="date">
                                <%- format(Date.now(), "MM/dd/yyyy") %> <span class="ml-4">m/d/y</span>
                            </label>
                        </div>
                        <div class="form-check disabled">
                            <input class="form-check-input" type="radio" name="date" id="date" value="dd/MM/yyyy"
                                <%= setting.dateFormat == "dd/MM/yyyy" ? 'checked' : '' %>>
                            <label class="form-check-label" for="date">
                                <%- format(Date.now(), "dd/MM/yyyy") %><span class="ml-4">d/m/y</span>
                            </label>
                        </div>
                    </div>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <div class="row">
                    <legend class="col-form-label col-sm-12 col-md-3 pt-0">Time Format</legend>
                    <div class="col-sm-12 col-md-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="time" id="time" value="h:mm aaaa"
                                <%= setting.timeFormat == "h:mm aaaa" ? 'checked' : '' %>>
                            <label class="form-check-label" for="time">
                                <%- format(Date.now(), "h:mm aaaa") %> <span class="ml-4">g:i a</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="time" id="time" value="h:mm aaa"
                                <%= setting.timeFormat == "h:mm aaa" ? 'checked' : '' %>>
                            <label class="form-check-label" for="time">
                                <%- format(Date.now(), "h:mm aaa") %> <span class="ml-4">g:i A</span>
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="time" id="time" value="k:mm"
                                <%= setting.timeFormat  == "k:mm" ? 'checked' : '' %>>
                            <label class="form-check-label" for="time">
                                <%- format(Date.now(), "k:mm ") %> <span class="ml-4"> H:i</span>
                            </label>
                        </div>

                    </div>
                </div>
            </fieldset>
            <br>
            <div class="form-group row">
                <div class="col-sm-10">
                    <button type="submit" class="btn btn-primary">Save Setting</button>
                </div>
            </div>
        </form>

    </div>
</main>

<!-- AJAX to update settings-->

<script>
    function updateGeneralSettings(form) {
        const formData = {
            blogTitle: form.blogTitle.value,
            defaultRole: form.role.value,
            dateFormat: form.date.value,
            timeFormat: form.time.value
        }
        $.ajax({
            url: '/admin/settings/general',
            method: "POST",
            data: formData,
            success: function (response) {
                if (response.status === "success") {
                    bs4pop.notice(response.msg, {
                        type: 'success',
                        position: 'bottomright',
                        appendType: 'append',
                        closeBtn: false,
                        className: ''
                    })
                    setTimeout(function () { window.location.reload() }, 1000);
                } else if (response.status === "error") {
                    bs4pop.notice(response.msg, {
                        type: 'danger',
                        position: 'bottomright',
                        appendType: 'append',
                        closeBtn: false,
                        className: ''
                    })
                }
            }
        })
        return false
    }

</script>


<!-- footer -->
<%- include('../layouts/adminfooter.ejs') %>