<%- include('../layouts/adminheader.ejs') %>


<h1 class="mt-4">All Pages<a href="/admin/pages/add-page" class="btn btn-outline-primary m-1">Add
        Page</a>
</h1>
<ol class="breadcrumb mb-4">
    <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
    <li class="breadcrumb-item active">All Pages</li>
</ol>
<table class="table table-striped sorting">
    <thead>
        <tr class="home">
            <th>Title</th>
            <th>Author</th>
            <th colspan="2">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% pages.forEach(function(page) { %>
        <tr id="id_<%= page._id %>" class="<%= page.slug %>">
            <td><%= page.title %></td>
            <td><%= page.author.username %> </td>

            <% if(page.slug == 'home') { %>
            <td><a href="/admin/pages/edit-page/<%= page.id %>" class="btn btn-warning btn-sm">Edit</a></td>
            <% } else { %>
            <td>
                <a href="/admin/pages/edit-page/<%= page.id %>" class="btn btn-warning btn-sm">Edit</a>
                <button class="btn btn-danger btn-sm" onclick="doDelete('<%= page._id %>')">Delete</button>
            </td>
            <% } %>
        </tr>
        <% }) %>
    </tbody>
</table>

<script>

    function doDelete(pageId) {
        if (confirm('Are you sure want to delete?')) {
            $.ajax({
                url: '/admin/pages/delete-page',
                method: "POST",
                data: {
                    "_id": pageId,
                },
                success: function (response) {
                    if (response.status === "success") {
                        alert(response.msg)
                        window.location.href = "/admin/pages"
                    } else if (response.status === "error") {
                        alert(response.msg)
                    }
                }
            })
        }

    }
</script>

<%- include('../layouts/adminfooter.ejs') %>