<%- include('header') %>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">All Pages</h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">All Pages</li>
            </ol>
            <table class="table table-striped sorting">
                <thead>
                    <tr class="home">
                        <th>Title</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% pages.forEach(function(page) { %>
                    <tr id="id_<%= page._id %>" class="<%= page.slug %>">
                        <td><%= page.title %></td>
                        <td><a href="/admin/pages/edit-page/<%= page.id %>">Edit</a></td>
                        <% if(page.slug == 'home') { %>
                        <td></td>
                        <% } else { %>
                        <td><a class="confirmDeletion" href="/admin/pages/delete-page/<%= page.id %>">Delete</a></td>
                        <% } %>
                    </tr>
                    <% }) %>
                </tbody>
            </table>

            <%- include('footer') %>