<%- include('header') %>

<div id="layoutSidenav_content">
    <main>
        <div class="container-fluid">
            <h1 class="mt-4">All Users<a href="/admin/users/add-user" class="btn btn-outline-primary m-1">Add User</a>
            </h1>
            <ol class="breadcrumb mb-4">
                <li class="breadcrumb-item"><a href="/admin/dashboard">Dashboard</a></li>
                <li class="breadcrumb-item active">All Users</li>
            </ol>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User</th>
                        <th>Email</th>
                        <th>Role</th>
                        <th>Posts</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <% users.forEach((user) => { %>
                    <tr>
                        <td><%= user.firstname %></td>
                        <td><%= user.email %></td>
                        <td><%= user.role %></td>
                        <td><%= posts.length %></td>
                        <td>
                            <a href="/admin/users/edit-user/<%= user._id %>" class="btn btn-warning btn-sm">Edit</a>
                            <button class="btn btn-danger btn-sm" onclick="doDelete('<%= user._id %>')">Delete</button>
                        </td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
            <%- include('footer') %>