<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= headerTitle %> - <%= setting.blogTitle %></title>

    <!-- Bootstrap core CSS -->
    <link href="/static/user/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/static/user/css/blog-home.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/static/user/css/blog-post.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.4/socket.io.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/date-fns/1.30.1/date_fns.min.js"></script>

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container">
            <a class="navbar-brand" href="/"><%= setting.blogTitle %></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <% pages.forEach(function(page){ %>
                    <% if(page.slug =='home') { %>
                    <li class="nav-item active"><a href="/" class="nav-link"><%= page.title %></a></li>
                    <li class="nav-item "><a href="/posts" class="nav-link">Posts</a></li>
                    <% } else { %>
                    <li class="nav-item"><a href="/<%= page.slug%>" class="nav-link"><%= page.title %></a></li>
                    <% } %>
                    <% }) %>
                </ul>
            </div>
        </div>
    </nav>