<%- include('../layouts/header.ejs') %>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">Category:( <%= category %> )
                <small></small>
            </h1>

            <% if(posts.length > 0) { %>
            <!-- Blog Post -->
            <div id="posts">
                <% posts.forEach((post) => { %>
                <div class="card mb-4" id="post-<%= post.id %>">
                    <% if(post.image) { %>
                    <img class="card-img-top" src="<%= post.image %> " alt="Card image cap">
                    <% } else { %>
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <% } %>
                    <div class="card-body">
                        <h2 class="card-title"><%= post.title %> </h2>
                        <p class="card-text"><%- post.content.substring(0, 200) + '...' %> </p>
                        <a href="/posts/<%= post.slug %>" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on <%- format(post.createdAt, 'MMMM d yyyy') %> by
                        <a href="#"><%= post.author.username %> </a>
                    </div>
                </div>
                <% }) %>
            </div>

            <!-- Pagination -->
            <% if (postPages > 0) { %>
            <ul class="pagination justify-content-center mb-4">
                <% if (Number(current) - 1 > 0) { %>
                <li class="page-item"><a class="page-link"
                        href="/posts/category/<%= category %>/?page=<%= Number(current) - 1 %>">Prev</a>
                </li>
                <% } else { %>
                <li class="page-item disabled"><a class="page-link">Prev</a></li>
                <% } %>
                <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                <% if (i !== 1) { %>
                <li class=" page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% for (; i <= (Number(current) + 4) && i <= postPages; i++) { %>
                <% if (i == current) { %>
                <li class=" page-item active"><a class="page-link"><%= i %></a></li>
                <% } else { %>
                <li class="page-item"><a class="page-link"
                        href="/posts/category/<%= category %>/?page=<%= i %>"><%= i %></a></li>
                <% } %>
                <% if (i == Number(current) + 4 && i < postPages) { %>
                <li class=" page-item disabled"><a class="page-link">...</a></li>
                <% } %>
                <% } %>
                <% if (Number(current) + 1 <= postPages) { %>
                <li class="page-item"><a class="page-link"
                        href="/posts/category/<%= category %>/?page=<%= Number(current) + 1 %>">Next</a>
                </li>
                <% } else { %>
                <li class="page-item disabled"><a class="page-link">Next</a></li>
                <% } %>
            </ul>

            <% } %>
            <% } else { %>
            <h3 class="lead text-center mt-5">No Post found!</h3>
            <% } %>

        </div>

        <!-- Sidebar Widgets Column -->
        <%- include('../layouts/sidebar.ejs') %>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<script>
    let socket = io();

    socket.on("delete_post", (id) => {
        document.getElementById("post-" + id).remove()
    })

    socket.on("new_post", (formData) => {
        //console.log(formData)
        let html = "";
        let image = formData.image ? formData.image : "http://placehold.it/750x300"
        let createdAt = dateFns.format(formData.createdAt, 'MMMM D YYYY')

        html += '<div class="card mb-4" id="post-' + formData._id + '">';
        html += '<img class="card-img-top" src="' + image + '" alt="Card image cap">';
        html += '<div class="card-body">';
        html += '<h2 class="card-title">' + formData.title + '</h2>';
        html += '<p class="card-text">' + formData.title + '</p>';
        html += '<a href="posts/' + formData._id + '" class="btn btn-primary">Read More &rarr;</a>';
        html += '</div>';
        html += '<div class="card-footer text-muted">';
        html += 'Posted on ' + createdAt + ' by';
        html += '<a href="#"> ' + formData.author + ' </a>';
        html += '</div>';
        html += '</div>';
        $("#posts").prepend(html)

    })

</script>

<%- include('../layouts/footer.ejs') %>