<%- include('header') %>
<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-md-8">

            <h1 class="my-4">All Posts
                <small></small>
            </h1>

            <!-- Blog Post -->
            <div id="posts">
                <% posts.forEach((post) => { %>
                <div class="card mb-4" id="post-<%= post.id %>">
                    <% if(post.image) { %>
                    <img class="card-img-top" src="<%= post.image %> " alt="Card image cap">
                    <% } else { %>
                    <img class="card-img-top" src="http://placehold.it/750x300" alt="Card image cap">
                    <% } %>
                    <div class="card-body">
                        <h2 class="card-title"><%= post.title %> </h2>
                        <p class="card-text"><%- post.content.substring(0, 200) + '...' %> </p>
                        <a href="posts/<%= post.id %>" class="btn btn-primary">Read More &rarr;</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on <%- format(post.createdAt, 'MMMM d yyyy') %> by
                        <a href="#">Admin</a>
                    </div>
                </div>
                <% }) %>
            </div>

            <!-- Pagination -->
            <ul class="pagination justify-content-center mb-4">
                <li class="page-item">
                    <a class="page-link" href="#" onclick="getPrevious()">&larr; Older</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" onclick="getNext()">Newer &rarr;</a>
                </li>
            </ul>
        </div>

        <!-- Sidebar Widgets Column -->
        <%- include('sidebar') %>


    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<script>

    let start = 0;
    let limit = parseInt("<%= postLimit %>")

    function getNext() {
        start = start + limit
        $.ajax({
            url: "/posts/get-posts/" + start + "/" + limit,
            method: "GET",
            success: function (response) {
                renderPost(response)
            }
        })
    }
    function getPrevious() {
        start = start - limit
        $.ajax({
            url: "/posts/get-posts/" + start + "/" + limit,
            method: "GET",
            success: function (response) {
                renderPost(response)
            }
        })
    }

    function renderPost(posts) {
        if (posts.length > 0) {
            let html = ""
            for (let a = 0; a < posts.length; a++) {
                let image = posts[a].image ? posts[a].image : "http://placehold.it/750x300"
                html += '<div class="card mb-4" id="post-' + posts[a]._id + '">';
                html += '<img class="card-img-top" src=" ' + image + ' " alt="Card image cap">';
                html += '<div class="card-body">';
                html += '<h2 class="card-title">' + posts[a].title + '</h2>';
                html += '<p class="card-text">' + posts[a].content.substring(0, 200) + '...' + ' </p>';
                html += '<a href="posts/' + posts[a]._id + '" class="btn btn-primary">Read More &rarr;</a>';
                html += '</div>';
                html += '<div class="card-footer text-muted">';
                html += 'Posted on ' + dateFns.format(posts[a].createdAt, 'MMMM D YYYY') + ' by';
                html += '<a href="#">Admin</a>';
                html += '</div>';
                html += '</div>';
            }
            $("#posts").html(html)
        }
    }



    let socket = io();

    socket.on("delete_post", (id) => {
        document.getElementById("post-" + id).remove()
    })


    socket.on("new_post", (formData) => {
        //console.log(formData)
        let html = "";
        let image = formData.image ? formData.image : "http://placehold.it/750x300"
        let createdAt = dateFns.format(formData.createdAt, 'MMMM D YYYY')

        html += '<div class="card mb-4" id="post-' + formData._id + '">';
        html += '<img class="card-img-top" src="' + image + '" alt="Card image cap">';
        html += '<div class="card-body">';
        html += '<h2 class="card-title">' + formData.title + '</h2>';
        html += '<p class="card-text">' + formData.title + '</p>';
        html += '<a href="posts/' + formData._id + '" class="btn btn-primary">Read More &rarr;</a>';
        html += '</div>';
        html += '<div class="card-footer text-muted">';
        html += 'Posted on ' + createdAt + ' by';
        html += '<a href="#"> Admin </a>';
        html += '</div>';
        html += '</div>';
        $("#posts").prepend(html)

    })

</script>

<%- include('footer') %>