<%- include('header') %>
<!-- Page Content -->
<div class="container">
    <div class="row ">
        <!-- Blog Content -->
        <div class="col-md-8 mt-3">
            <h1 class="text-ca"><%- title %>
                <small></small>
            </h1>
            <% if(content != "") { %>
            <div class="card mb-4 p-2">
                <%- content %>
            </div>
            <% } %>

        </div>
        <!-- Sidebar Widgets Column -->
        <%- include('sidebar') %>

    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<%- include('footer') %>