<!-- header -->
<%- include('../layouts/header.ejs') %>

<!-- Page Content -->
<div class="container">

    <div class="row">

        <!-- Post Content Column -->
        <div class="col-lg-8">

            <!-- Title -->
            <h1 class="mt-4"><%= post.title %> </h1>

            <!-- Author -->
            <p class="lead">
                by
                <a href="/posts/author/<%= post.author.username %>"><%= post.author.username %> </a>
            </p>

            <hr>

            <!-- Date/Time -->
            <p>Posted on <%- formatDate(post.createdAt, dateFormat + " 'at' " + timeFormat) %></p>

            <hr>
            <% if(post.image) { %>
            <img class="img-fluid rounded" src="<%= post.image %> " alt="">
            <% } else { %>
            <img class="img-fluid rounded" src="http://placehold.it/900x300" alt="">
            <% } %>
            <!-- Preview Image -->

            <hr>

            <!-- Post Content -->
            <p class="lead"><%- post.content %></p>

            <hr>

            <!-- Comments Form -->
            <div class="card my-4">
                <h5 class="card-header">Leave a Comment:</h5>
                <div class="card-body">
                    <form method="POST" onsubmit="return doComment(this)">
                        <input type="hidden" id="post_id" name="post_id" value="<%= post._id %>">
                        <% if(userLogin) { %>
                        <input type="hidden" id="username" name="username" value="<%= userLogin.username %>">
                        <input type="hidden" id="email" name="email" value="<%= userLogin.email %>">
                        <% } else { %>
                        <div class="form-group">
                            <input type="text" name="username" class="form-control" placeholder="Username">
                        </div>
                        <div class="form-group">
                            <input type="text" name="email" class="form-control" placeholder="Email">
                        </div>
                        <% } %>
                        <div class="form-group">
                            <textarea name="comment" class="form-control" rows="3"
                                placeholder="Comment here.."></textarea>
                        </div>
                        <div id="message"></div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
            </div>


            <!-- Comments -->
            <div id="comments">
                <% if(post.comments) { %>
                <% post.comments = post.comments.reverse() %>
                <% post.comments.forEach((comment, index) => { %>
                <div class="media mb-4">
                    <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                    <div class="media-body">
                        <h5 class="mt-0"><%= comment.username %> </h5>
                        <%= comment.comment %>

                        <!-- Replies -->
                        <div id="comments-<%= comment._id %>">
                            <% if(comment.replies) { %>
                            <% comment.replies.forEach(function(reply) { %>
                            <div class="media mb-4">
                                <img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">
                                <div class="media-body">
                                    <h5 class="mt-0"><%= reply.username %></h5>
                                    <%= reply.reply %>
                                </div>

                            </div>
                            <% }) %>
                            <% } %>
                        </div>

                        <!-- Reply form-->
                        <div class="col-md-8 mt-2">
                            <form method="POST" onsubmit="return doReply(this)">
                                <input type="hidden" name="post_id" value="<%= post._id %>">
                                <input type="hidden" name="comment_id" value="<%= comment._id %>">
                                <input type="hidden" name="comment_email" value="<%= comment.email %>">
                                <div class="form-group">
                                    <input type="text" name="username" class="form-control" placeholder="Your Name">
                                </div>
                                <div class="form-group">
                                    <textarea name="reply" class="form-control" placeholder="Enter Reply"></textarea>
                                </div>
                                <div id="<%= comment._id %>"></div>
                                <input type="submit" class="btn btn-info btn-sm" value="Reply">
                            </form>
                        </div>
                    </div>
                </div>
                <% }) %>
                <% } %>
            </div>

        </div>

        <!-- Sidebar Widgets Column -->
        <%- include('../layouts/sidebar.ejs') %>
    </div>
    <!-- /.row -->

</div>
<!-- /.container -->

<!-- Socket functions and JS  -->
<script>
    let socket = io();
    //send comment to server
    function doComment(form) {
        let formData = {
            post_id: form.post_id.value,
            username: form.username.value,
            email: form.email.value,
            comment: form.comment.value
        }
        $.ajax({
            url: '/posts/add-comment',
            method: "POST",
            data: formData,
            success: function (response) {
                if (response.status === "success") {
                    let msg = ""
                    msg += '<div class="alert alert-success p-0">' + response.msg + ' </div>';
                    $('#message').html(msg);
                    setTimeout(function () { $(".alert").remove(); }, 2000);

                    formData._id = response._id
                    socket.emit("new_comment", formData)

                    form.username.value = ""
                    form.email.value = ""
                    form.comment.value = ""

                } else {
                    let msg = ""
                    msg += '<div class="alert alert-danger p-0">' + response.msg + ' </div>';
                    $('#message').html(msg);
                    setTimeout(function () { $(".alert").remove(); }, 2000);
                }

            }
        })
        return false
    }


    //socket func()
    socket.on('new_comment', (commentData) => {
        console.log(commentData)
        if (commentData.post_id != $("#post_id").val()) {
            return
        }

        let html = "";

        html += '<div class="media mb-4">';
        html += '<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">';
        html += '<div class="media-body">';
        html += '<h5 class="mt-0"> ' + commentData.username + ' </h5>';
        html += ' ' + commentData.comment + '';

        html += '<div id="comments-' + commentData._id + '">';
        html += '</div>';

        html += '<div class="col-md-8 mt-2">';
        html += '<form method="POST" onsubmit="return doReply(this)">';
        html += '<input type="hidden" name="post_id" value=' + commentData.post_id + ' ">';
        html += '<input type="hidden" name="comment_id" value= ' + commentData._id + ' ">';
        html += '<input type = "hidden" name = "comment_email" value = ' + commentData.email + '" >';
        html += '<div class="form-group">';
        html += '<input type="text" name="username" class="form-control" placeholder="Your Name">';
        html += '</div >';
        html += '<div class="form-group">';
        html += '<textarea name="reply" class="form-control" placeholder="Enter Reply"></textarea>';
        html += '</div>';
        html += ' <div id="' + commentData._id + '"></div>';
        html += '<input type="submit" class="btn btn-info btn-sm" value="Reply">';
        html += ' </form >';
        html += '</div >';

        html += '</div>';
        html += '</div>';

        $("#comments").prepend(html)

    })

    //send reply to server
    function doReply(form) {
        let formData = {
            post_id: form.post_id.value,
            comment_id: form.comment_id.value,
            username: form.username.value,
            reply: form.reply.value,
            comment_email: form.comment_email.value
        }

        $.ajax({
            url: '/posts/add-reply',
            method: "POST",
            data: formData,
            success: function (response) {
                console.log(response._id)
                if (response.status === "success") {
                    let msg = ""
                    msg += '<div class="alert alert-success p-0">' + response.msg + ' </div>';
                    $('#' + response.commentId + '').html(msg);
                    setTimeout(function () { $(".alert").remove(); }, 2000);

                    formData._id = response._id
                    socket.emit("new_reply", formData)
                    form.username.value = ""
                    form.reply.value = ""

                } else {
                    let msg = ""
                    msg += '<div class="alert alert-danger p-0">' + response.msg + ' </div>';
                    $('#' + response.commentId + '').html(msg);
                    setTimeout(function () { $(".alert").remove(); }, 2000);
                }
            }
        })
        return false
    }

    //socket func()
    socket.on('new_reply', (replyData) => {

        let html = ""
        // html += '<div>' + replyData.comment_id + '</div>';
        html += '<div class="media mb-4">';
        html += '<img class="d-flex mr-3 rounded-circle" src="http://placehold.it/50x50" alt="">';
        html += '<div class="media-body">';
        html += '<h5 class="mt-0">' + replyData.username + ' </h5>';
        html += ' ' + replyData.reply + ' ';
        html += '</div>';
        html += ' </div>';
        $("#comments-" + replyData.comment_id).append(html)
    })

</script>

<!-- footer -->
<%- include('../layouts/footer.ejs') %>